.Mcard{
    display: flex;
    flex-direction: column;
    border: 1.5px solid rgba(180, 179, 179, 0.63);
    border-radius: 6px;
    width : 30rem;
    
}

.Mcard-header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-radius: 6px 6px 0 0;
    background-color: white;
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

.Mcard-header span{
    font-size: 1.5rem;
    font-weight: bold;
    color : rgb(8, 120, 247);
}

.Mcard-body{
    padding: 2rem;
    font-family: 'Work Sans', sans-serif;
}

.Mcard-body span{
    font-weight: bold;
}

@media only screen and (max-width : 1050px) {
    .Mcard{
        width: 23rem;
    }
}