.navbar{
    background-color: white;
    padding: .3rem 4rem;
}

@media only screen and (max-width: 500px) {
    .navbar img{
        width : 6rem;
    }

    .navbar{
        padding : 1rem 1.5rem;
    }
}