* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'IBM Plex Sans', sans-serif;
}

main{
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
header {
  padding: 2rem;
  background-color: aliceblue;
  margin-bottom: 1rem;
}

header span {
  font-weight: 600;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  color:
  #142baa;
  font-family: 'Work Sans', sans-serif;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-container {
  width: 30rem;
  height: 30rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1050px) {
  h2 {
    font-size: 1.4rem;
  }

  header{
    padding: 1rem;
  }
  .container {
    flex-direction: column-reverse;
    gap: 5rem;
    align-items: center;
  }

  .field {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .field-container {
    align-items: center;
  }

  .map-container {
    width: 23rem;
    height: 25rem;
  }
}
